

/* Parallax */
.section.parallax {
	background-image: none !important;
	position: relative;
	overflow: hidden;
}

.section.parallax .parallax-image {
	display: block;
	min-width: 100%;
	height: 140%; /* 100% + double transform percentage */
	position: absolute;
	top: 0;
	bottom: -40%;
	right: 0;
	left: 0;
	margin: auto;
	-o-object-fit: cover;
	object-fit: cover; /* no IE, whatever. */
	z-index: 0;
	will-change: transform;
	-webkit-transform: translateY( 0% );
	-ms-transform: translateY( 0% );
	transform: translateY( 0% );
}

.section.parallax .section-content {
	z-index: 2;
}

/* Fade */
.js .section.fadein .section-content,
.js .section.fadeinup .section-content,
.js .section.fadeindown .section-content,
.js .section.fadeinleft .section-content,
.js .section.fadeinright .section-content {
	opacity: 0;
}

.js .section.fadein .section-content {
	opacity: 1;
	-webkit-animation: maiEffectsFadeIn 1s ease-in-out;
	animation: maiEffectsFadeIn 1s ease-in-out;
}
.js .section.fadeinup:not(.enter) .section-content {
	opacity: 1;
	-webkit-animation: maiEffectsFadeInUp 1s ease-in-out;
	animation: maiEffectsFadeInUp 1s ease-in-out;
}
.js .section.fadeindown .section-content {
	/* opacity: 1; */
	-webkit-animation: maiEffectsFadeInDown 1s ease-in-out;
	animation: maiEffectsFadeInDown 1s ease-in-out;
}
.js .section.fadeinleft .section-content {
	/* opacity: 1; */
	-webkit-animation: maiEffectsFadeInLeft 1s ease-in-out;
	animation: maiEffectsFadeInLeft 1s ease-in-out;
}
.js .section.fadeinright .section-content {
	/* opacity: 1; */
	-webkit-animation: maiEffectsFadeInRight 1s ease-in-out;
	animation: maiEffectsFadeInRight 1s ease-in-out;
}

@-webkit-keyframes maiEffectsFadeIn {
	0% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes maiEffectsFadeIn {
	0% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes maiEffectsFadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(24px);
		transform: translateY(24px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes maiEffectsFadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(24px);
		transform: translateY(24px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@-webkit-keyframes maiEffectsFadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-24px);
		transform: translateY(-24px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes maiEffectsFadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-24px);
		transform: translateY(-24px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@-webkit-keyframes maiEffectsFadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(48px);
		transform: translateY(48px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateY(0);
	}
}

@keyframes maiEffectsFadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(48px);
		transform: translateX(48px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@-webkit-keyframes maiEffectsFadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-48px);
		transform: translateX(-48px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes maiEffectsFadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-48px);
		transform: translateX(-48px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
