/* Parallax */
.section.parallax {
	background-image: none !important;
	position: relative;
	overflow: hidden;
}

.section.parallax .parallax-image {
	display: block;
	min-width: 100%;
	min-height: 100%;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/* Fade */
.js .fadeinup .section-content,
.js .fadeinleft .section-content,
.js .fadeinright .section-content {
	opacity: 0;
	overflow: hidden;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}

.js .fadeInUp .section-content {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
.js .fadeInLeft .section-content {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}
.js .fadeInRight .section-content {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
}

@-webkit-keyframes fadeInUp {
	from { opacity: 0; -webkit-transform: translateY(24px); }
	to { opacity: 1; -webkit-transform: translateY(0); }
}

@keyframes fadeInUp {
	from { opacity: 0; -webkit-transform: translateY(24px); transform: translateY(24px); }
	to { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); }
}

@-webkit-keyframes fadeInLeft {
	from { opacity: 0; -webkit-transform: translateX(48px); }
	to { opacity: 1; -webkit-transform: translateX(0); }
}

@keyframes fadeInLeft {
	from { opacity: 0; -webkit-transform: translateX(48px); transform: translateX(48px); }
	to { opacity: 1; -webkit-transform: translateX(0); transform: translateX(0); }
}

@-webkit-keyframes fadeInRight {
	from { opacity: 0; -webkit-transform: translateX(-48px); }
	to { opacity: 1; -webkit-transform: translateX(0); }
}

@keyframes fadeInRight {
	from { opacity: 0; -webkit-transform: translateX(-48px); transform: translateX(-48px); }
	to { opacity: 1; -webkit-transform: translateX(0); transform: translateX(0); }
}
