/* Parallax */
.section.has-bg-image.parallax .bg-image {
	height: 140%; /* 100% + transform percentage */
	will-change: transform;
	-webkit-transform: translateY( 0% );
	-ms-transform: translateY( 0% );
	transform: translateY( 0% );
}

/* Fade */
.js .has-fadein,
.js .has-fadeinup,
.js .has-fadeindown,
.js .has-fadeinleft,
.js .has-fadeinright {
	opacity: 0;
}

.js .has-fadein.doFade {
	opacity: 1;
	-webkit-animation: maiEffectsFadeIn 1s ease-in-out;
	animation: maiEffectsFadeIn 1s ease-in-out;
}
.js .has-fadeinup.doFade {
	opacity: 1;
	-webkit-animation: maiEffectsFadeInUp 1s ease-in-out;
	animation: maiEffectsFadeInUp 1s ease-in-out;
}
.js .has-fadeindown.doFade {
	opacity: 1;
	-webkit-animation: maiEffectsFadeInDown 1s ease-in-out;
	animation: maiEffectsFadeInDown 1s ease-in-out;
}
.js .has-fadeinleft.doFade {
	opacity: 1;
	-webkit-animation: maiEffectsFadeInLeft 1s ease-in-out;
	animation: maiEffectsFadeInLeft 1s ease-in-out;
}
.js .has-fadeinright.doFade {
	opacity: 1;
	-webkit-animation: maiEffectsFadeInRight 1s ease-in-out;
	animation: maiEffectsFadeInRight 1s ease-in-out;
}

@-webkit-keyframes maiEffectsFadeIn {
	0% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes maiEffectsFadeIn {
	0% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes maiEffectsFadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(24px);
		transform: translateY(24px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes maiEffectsFadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(24px);
		transform: translateY(24px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@-webkit-keyframes maiEffectsFadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-24px);
		transform: translateY(-24px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes maiEffectsFadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-24px);
		transform: translateY(-24px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@-webkit-keyframes maiEffectsFadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(48px);
		transform: translateY(48px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateY(0);
	}
}

@keyframes maiEffectsFadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(48px);
		transform: translateX(48px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@-webkit-keyframes maiEffectsFadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-48px);
		transform: translateX(-48px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes maiEffectsFadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-48px);
		transform: translateX(-48px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
